sudo: required
dist: trusty
jdk: oraclejdk8

env:
  - SYS=25 ABI="google_apis;arm64-v8a"
  - SYS=25 ABI="google_apis;armeabi-v7a"

language: php
php:
  - '7.0'
  
language: android
android:
   components:
   - tools
   - platform-tools
   - tools
   - extra

  # The BuildTools version used by your project
   - build-tools-25.0.2

  # The SDK version used to compile your project
   - android-25

  # Additional components
   - extra-google-google_play_services
   - extra-google-m2repository
   - extra-android-m2repository

  # Specify at least one system image,
  # if you need to run emulator(s) during your tests
  # - sys-img-armeabi-v7a-android-25

# Getting mysql v 5.7
addons:
  apt:
    sources:
      - mysql-5.7-trusty
    packages:
      - mysql-server
      - mysql-client
      
# Installing all the required elements (php, mysql...)
before_install:
- sudo apt-get update
- sudo apt-get -y install apache2
- sudo mysql -u root -e "use mysql; update user set authentication_string=PASSWORD('root') where User='root'; update user set plugin='mysql_native_password';FLUSH PRIVILEGES;"
- sudo mysql_upgrade -u root -proot
- sudo service mysql restart
- mysql -u root -proot -e 'CREATE DATABASE Readeo;'
- mysql -u root -proot Readeo < Middleware/docs/ReadeoMySQLDbStructure.sql
- sudo mv Middleware/* /var/www/html/

- export ANDROID_HOME=~/android-sdk-linux
- if [ $TRAVIS_OS_NAME == "osx" ]; then wget -q "https://dl.google.com/android/repository/sdk-tools-darwin-4333796.zip" -O android-sdk-tools.zip; else wget -q "https://dl.google.com/android/repository/sdk-tools-linux-4333796.zip" -O android-sdk-tools.zip; fi
- unzip -q android-sdk-tools.zip -d ${ANDROID_HOME}
- rm android-sdk-tools.zip
- PATH=${PATH}:${ANDROID_HOME}/tools:${ANDROID_HOME}/tools/bin:${ANDROID_HOME}/platform-tools
# Silence warning.
- mkdir -p ~/.android
- touch ~/.android/repositories.cfg
# Platform tools
- echo y | sdkmanager "emulator" "tools" "platform-tools"
- sdkmanager --list | head -15
# install older packages (for emulator) 
- sdkmanager "build-tools;25.0.2" "platforms;android-25" > /dev/null
# Create and start emulator.
- echo y | sdkmanager "system-images;android-$SYS;$ABI"
- sdkmanager --list | head -15
- echo no | avdmanager create avd --force -n test -k "system-images;android-$SYS;$ABI"
# fix timezone warning
# use the absolute emulator path in case older version installed (on default path)
- ls -larth
- for file in *; do if [ -d file ]; then ls -larth file; fi; done
- emulator/emulator -avd test -no-audio -no-accel -no-window &

# Emulator Management: Create, Start and Wait
before_script:
- android-wait-for-emulator
- adb shell input keyevent 82 &
- cd Readeo && chmod +x gradlew

# Actions to perform
script:
- ./gradlew build connectedCheck
- ./gradlew assembleDebug
- ./gradlew -Pci --console=plain :app:testDebug
- ./gradlew lint
- ./gradlew cAT
